*{
    padding: 0;
    margin: 0;
}

.hero
{
    height: 100vh;
    background-image: linear-gradient(rgba(0,105,233,0.8),rgba(0,105,233,0.8)),url(background.jpg);
    background-position: center;
    background-size: cover;
}

.nav-bar{
    display: flex;
    height: 12%;
}

.nav-left{
    flex-basis: 70%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.nav-right{
    flex-basis: 30%;
    background: #fff;
}

.navbar-inner{
     display: flex; 
    align-items: center;
    padding: 30px 50px 10px 50px;

}
.navbar-inner ul{
    margin-left: 20px;
    z-index: 2;
}
.navbar-inner li{
    margin: 0 10px ;
    display: inline-block;
}
.navbar-inner a{
    text-decoration: none;
    color: #fff;
}
